{% extends 'base.html' %} 
{% block title %}Clients{% endblock title %} 
{% block content %}
<div class="mx-auto">
  <div>
    {% if messages %}
     {% for message in messages %}
    <div
      class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissible fade show"
      role="alert"
    >
      <h4 class="alert-heading text-capitalize">{{ message.tags }}!</h4>
      {{ message }}
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %} {% endif %}
  </div>
  {% if user.is_authenticated %}
  <div class="card">
    <div class="card-body">
    <div class="d-flex justify-content-between mb-2">
      <h5 class="card-title">Client List</h5>
      <a href="/create-client" class="btn btn-primary">Create Client</a>
    </div>
    <div>
      <form action={% url 'clients' %} method="get">
        <div class="input-group mb-3">
          <input type="text" class="form-control" value="{{search}}" autocomplete="off" placeholder="Search" name="search">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
            <a href="{% url 'clients' %}" class="btn btn-outline-danger">Refresh</a>
          </div>
        </div>
      </form>
    </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% if clients %}
            {% for client in clients %}
            <tr>
              <td>{{client.full_name}}</td>
              <td>{{client.email}}</td>
              <td>{{client.phone}}</td>
              <td>{{client.address}}</td>
              <td>
                <div class="dropdown">
                  <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false">
                    Actions
                  </button>
                  <ul class="dropdown-menu">
                    <li class="dropdown-item"><a href="/update-client/{{client.id}}">Edit</a></li>
                    <li class="dropdown-item"><a href="/delete-client/{{client.id}}" onclick="return confirm('Are you sure you want to delete this client?')">Delete</a></li>
                    <li class="dropdown-item"><a href="/view-client/{{client.id}}">View</a></li >
                    <li class="dropdown-item"><a href="/client/products/{{client.id}}">Products</a></li >
                    <li class="dropdown-item"><a href="/client/services/{{client.id}}">Services</a></li >
                  </ul>
                </div>
              </td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  {% endif %}
</div>
{% endblock content %}
